body{
    background-image:url(../login/IMG/81744.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: #8b1166;    
    display: flex;
}
h1{
    font-size: 75px;
    font-family: 'Nunito', sans-serif; 
}
.caja-login{
    background-color: rgba(255, 255, 255, 0.392);
    max-width: 600px;
    margin:0 auto;
    padding: 5% 0 0;
    margin-top: 5%;
}
.login-elements{
    
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    justify-content: center;

}
.formulario-login-cabecera-fuente{
    font-size: 35px;
    color: rgb(34, 200, 200);
    font-family: 'Nunito', sans-serif;
}
.form-label{
    font-size: 18px;
    font-style: bold;
}
input::placeholder {
    background-color: rgba(0, 255, 255, 0);
    
  }
  .btn{
    background-color: rgb(139, 17, 102);
    border: 0cm;
  }